[Unit]
Description=EZREC Camera Streamer
After=network.target

[Service]
ExecStart=/opt/ezrec-backend/api/venv/bin/python3 /opt/ezrec-backend/backend/camera_streamer.py
WorkingDirectory=/opt/ezrec-backend/backend
Restart=always
User=michomanoly14892

[Install]
WantedBy=multi-user.target 