[Unit]
Description=EZREC Recorder
After=network.target

[Service]
Type=simple
User=michomanoly14892
Group=video
WorkingDirectory=/opt/ezrec-backend
[Service]
Environment="PYTHONPATH=/usr/lib/python3/dist-packages"
ExecStartPre=/bin/bash -c 'for dev in /dev/video*; do fuser -k "$dev" || true; done'
ExecStart=$VENV_DIR/bin/python3 $PROJECT_DIR/backend/recorder.py

Restart=on-failure
RestartSec=5
PrivateDevices=no

[Install]
WantedBy=multi-user.target
