[Unit]
Description=EZREC Recorder
After=network.target

[Service]
Type=simple
User=michomanoly14892
Group=video
WorkingDirectory=/opt/ezrec-backend

ExecStartPre=/bin/bash -c 'for dev in /dev/video*; do fuser -k "$dev" || true; done'
ExecStart=/opt/ezrec-backend/venv/bin/python3 /opt/ezrec-backend/backend/recorder.py

Restart=on-failure
RestartSec=5

PrivateDevices=no

[Install]
WantedBy=multi-user.target 